.CrossHair {
  background-image: url('https://freeimage.host/i/CPzKXrG') !important;
  color: #fff;
  font-size: 0rem;
  font-weight: 300;
  height: 20px;
  left: 50%;
  line-height: 20px;
}
